* {
  margin: 0;
}
.main-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fff, #f7f7f7);
}
.main {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1100px;
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
}
div {
  font-family: Helvetica Neue, sans-serif;
}
/* img {
  width: 100%;
  border: #000;
} */
.img-size-100 {
  width: 100%;
}

.header {
  height: 90px;
  color: black;
}
.header-inline {
  /* max-width: 1100px; */
  padding-left: 40px;
  padding-right: 40px;
}
.header-container {
  margin-top: 30px;
  margin-bottom: 20px;
}
.header-box {
  display: flex;
  justify-content: space-between;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-nav {
  display: flex;
  list-style: none;
  margin-left: 0px;
  padding-left: 20px;
}
li {
  padding: 0 5px;
  font: 16px;
  font-family: Helvetica Neue, sans-serif;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: black;
}
.triangle:after {
  content: "\25be";
}
.search-button img {
  width: 30px;
  height: 30px;
  padding: 0 15px;
}
.navbar-right {
  display: flex;
}
.navbar-right a {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.navbar-right a :first-child {
  font-size: 12px;
  text-align: center;
}
.weather {
  display: flex;
  font-size: 18px;
  margin: 5px 0 0;
  justify-content: center;
}
.horoscope {
  display: flex;
  font-size: 18px;
  margin: 5px 0 0;
  justify-content: center;
}
.exchange-rate {
  display: flex;
  font-size: 18px;
  margin: 5px 0 0;
  justify-content: center;
}
.exchange-rate :first-child {
  color: green;
  font-size: 18px;
}

.society {
  height: 768px;
  padding-top: 5px;
  margin-bottom: 10px;
  max-width: 1100px;
}
/* .society-container {
  padding-left: 40px;
  padding-right: 40px;
} */
.society-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 385px 270px;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
.news1-box-960 {
  display: flex;
  flex-direction: column;

  align-items: end;
}
.main-960 {
  position: relative;
  z-index: 0;
  display: none;
}
.main-960-a {
  height: 330px;
  width: 100%;
}
.main-960-a img {
  position: absolute;
  z-index: 1;
  height: 330px;
}
.main-960-text {
  position: absolute;
  z-index: 1;
  padding: 20px 20px 30px;
}
.main-960-text h2 {
  color: white;
  font-size: 18px;
}
.news1-box-960 {
  justify-content: end;
}
.news1 {
  grid-column: 1/3;
  display: flex;
  align-items: center;
  background: linear-gradient(270deg, #fff, #f7f7f7);
  border-radius: 8px;
}
.news1-image {
  grid-column: 3/5;
}
.news1-image img {
  height: 385px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.news1-image img:hover {
  opacity: 0.7;
  -webkit-border-image: 1ex;
}
/* .news1-image img:hover .news1-image p {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
} */
.news1-image p {
  display: none;
}
.news1-box {
  padding-left: 40px;
}
.news1-button {
  padding-left: 40px;
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  font-size: 12px;
  line-height: 20px;
  color: white;
  padding: 8px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
}
.news1-button:hover {
  padding: 8px 20px;
}

.news1-text {
  padding-left: 40px;
  transition: all 0.2s ease-in-out;
}
.news1-text h2:hover {
  opacity: 0.7;
}
.news1-text h2 {
  font-size: 26px;
  font-weight: 700;
  padding-right: 30px;
  margin: 10px 0 20px;
  text-align: left !important;
  padding-top: 10px;
}
.news1-text p {
  min-height: 48px;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px !important;
  margin: 10px 0 20px;
  opacity: 0.4;
}
.news2 {
  grid-column: 1/2;
}
.news2 p {
  max-height: 37px;
  overflow: hidden;
}
.hidden {
  max-height: 38px;
  overflow: hidden;
}
.margin-top-10 {
  margin-top: 10px;
}
.text-14 {
  font-size: 14px !important;
  line-height: 22px !important;
}
.news2-box img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.news2-box p {
  font-weight: 600;
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; */
  transition: all 0.4s ease-in-out;
  min-height: 44px;
}
.news3 {
  grid-column: 2/3;
}
.news4 {
  grid-column: 3/4;
}
.advertising1 {
  grid-column: 4/5;
}
.advertising1 img {
  border-radius: 8px;
}
.society-result-left {
  background: #f0efef;
  border-radius: 100px;
  padding: 5px 10px;
  display: flex;
}
.society-see-result {
  display: flex;
}
.margin-right-20 {
  margin-right: 20px;
}
.color-light-gray {
  color: lightgray;
}
.news2-see-result {
  display: flex;
}

@media only screen and (max-width: 1080px) and (min-width: 960px) {
  .header-logo img {
    width: 100px;
  }
  .navbar-nav {
    font-size: 14px;
  }
  .society-container {
    min-width: 960px;
  }
}
@media only screen and (max-width: 959px) and (min-width: 640px) {
  .header {
    max-width: 959px;
    min-width: 640px;
  }
  .header-logo img {
    width: 70px;
  }
  .navbar-nav {
    display: none;
  }
  .search-button {
    display: none;
  }
  .society-container {
    min-width: 960px;
  }
  .header-box {
    align-items: start;
    justify-content: space-between;
  }
  .container {
    padding: 0 30px;
  }
  .main-960 {
    display: block;
  }
}
@media only screen and (max-width: 639px) {
  .navbar-nav {
    display: none;
  }
  .search-button {
    display: none;
  }
  .society {
    display: none;
  }
  .header-container {
    padding-left: 0 !important;
  }
  .header-logo img {
    width: 70px;
  }
  .main-960 {
    display: block;
  }
}
.margin-40 {
  margin: 0 40px;
}
.story-title {
  margin-bottom: 20px;
  align-items: start !important;
}
.story-title h2 {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}
.background-blue {
  color: #fff;
  padding: 2px 3px;
  background-color: #00b0f4;
  border-radius: 3px;
  font-size: 18px;
}
.story-container {
  max-width: 1100px;
}
.story-box {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 1rem;
  max-width: 1100px;
}
.story1 {
  min-height: 230px;
  background-color: #d6710b;
  border-radius: 6px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.story-text {
  font-size: 13px;
  line-height: 17px;
  color: #fff;
  max-height: 37px;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
.story-box .story1:first-child {
  background-image: url(https://mgl.gogo.mn/newsn/story/nsjw-655c44fee9fc0572354059.jpg);
  background-size: cover;
}
.story-box .story1:nth-child(2) {
  background-image: url(https://mgl.gogo.mn/newsn/story/ae9i7231-080818-18881981901-655db21da3da3144359376.jpeg);
  background-size: cover;
}
.story-box .story1:nth-child(3) {
  background-image: url(https://mgl.gogo.mn/newsn/images/ck/2023/11/22/animal-080819-1816596502.jpeg);
  background-size: cover;
}
.story-box .story1:nth-child(4) {
  background-image: url(https://mgl.gogo.mn/newsn/story/313038-20112023-1700446640-562705506-denjiin-maynga10-134903-2973593571-655c2269cc383440151219.jpeg);
  background-size: cover;
}
.story-box .story1:nth-child(5) {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/11/-19112023-1700361957-1634270848-%D0%BE%D1%85.jpeg);
  background-size: cover;
}
.story-box .story1:nth-child(6) {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/c/2023/11/312869-14112023-1699927683-1009408911-volcano.jpeg);
  background-size: cover;
}

.story1 img {
  width: 100%;
  height: 100%;
  /* position: relative; */
}
.margin-top-40 {
  margin-top: 40px;
}
.mini-logo {
  width: 30px;
  /* padding: 10px 10px; */
}
.story-see-result {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}
@media only screen and (max-width: 959px) and (min-width: 640px) {
  .story1:nth-child(4) {
    display: none;
  }
  .story1:nth-child(5) {
    display: none;
  }
  .story1:nth-child(6) {
    display: none;
  }
  .story-box_ {
    max-width: 959px;
  }
  .padding-40 {
    padding: 30px;
  }
  .expand {
    display: none;
  }
  .hide {
    display: none;
  }
  .main {
    display: none;
  }
}
@media only screen and (max-width: 639px) {
  .padding-40 {
    padding: 15px;
  }
  .story1:nth-child(3) {
    display: none;
  }
  .story1:nth-child(4) {
    display: none;
  }
  .story1:nth-child(5) {
    display: none;
  }
  .story1:nth-child(6) {
    display: none;
  }
  .story-box_ {
    max-width: 959px;
  }
  .expand {
    display: none;
  }
  .hide {
    display: none;
  }
  .main {
    display: none;
  }
}

.content-box {
  display: flex;
  max-width: 1100px;
  justify-content: space-between;
  gap: 10%;
}
.content-left {
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-right {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.text-bold {
  font-weight: 700;
}
.text-16 {
  font-size: 16px !important;
  line-height: 24px !important;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.expand {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: end;
  grid-gap: 10px;
  margin-bottom: 40px;
}
.content-news h3 {
  max-height: 52px;
  overflow: hidden;
}
.content-calendar-shape {
  /* background-color: #407ce8; */
  transition: all 0.2s ease-in-out;
  height: 7px;
  background-color: #efefef;
  border-radius: 20px;
}
.content-calendar-text {
  /* color: #407ce8; */
  transition: all 0.2s ease-in-out;
  color: #b7b6b6;
  font-size: 13px;
  text-align: center;
}
.text-19 {
  font-size: 19px !important;
  line-height: 26px !important;
}
.margin-right-20 {
  margin-right: 20px;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-remove {
  margin: 0 !important;
}
.long-news-thumb {
  height: 46px;
  overflow: hidden;
}
.text-gray {
  color: #888;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.content-news {
  display: flex;
  justify-content: space-between;
}
.content-news img {
  width: 28%;
  border-radius: 6px;
}
.content-news-description {
  width: 70%;
}
.text-13 {
  font-size: 13px !important;
  line-height: 20px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.image-width-100 img {
  width: 100%;
}
.text-20 {
  font-size: 20px !important;
  line-height: 26px !important;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.ontsloh-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
.ontsloh img {
  border-radius: 6px;
}
.margin-top-30 {
  margin-top: 30px;
}
.sidebar-title {
  padding: 30px 50px;
}
.trend-container {
  background-color: #fdfaf5;
  margin-left: -50px;
}
.trend-number {
  font-weight: 700;
  color: #e00034;
  font-size: 46px;
  line-height: 46px;
  transition: all 0.2s ease-in-out;
}
.margin-right-15 {
  margin-right: 15px;
}
.trend-item {
  display: flex;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.trend-item-list {
  padding: 0 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-12 {
  font-size: 12px !important;
  line-height: 20px !important;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-15 {
  margin-left: 15px;
}

@media only screen and (max-width: 959px) and (min-width: 640px) {
  .content-right {
    display: none;
  }
  .content-left {
    max-width: 959px;
  }
  .content-box {
    display: content;
  }
  .content-left {
    width: 100%;
  }
}
@media only screen and (max-width: 639px) {
  .content-right {
    display: none;
  }
  .content-left {
    max-width: 959px;
  }
  .content-box {
    display: content;
  }
  .content-left {
    width: 100%;
  }
  .content-news-description p {
    display: none;
  }
  .content-news-description h3 {
    font-size: 15px;
  }
  .text-19 {
    font-size: 15px !important;
  }
}
.margin-bottom-20 {
  margin-bottom: 20px;
}

.interview-container {
  max-width: 1100px;
}
.interview-box {
  display: grid;
  min-height: 550px;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 1rem;
}
.interview-box a:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.interview-box a:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/2;
}
.interview-box a:nth-child(3) {
  grid-column: 4/5;
  grid-row: 1/2;
}
.interview-box a:nth-child(4) {
  grid-column: 3/4;
  grid-row: 2/3;
}
.interview-box a:nth-child(5) {
  grid-column: 4/5;
  grid-row: 2/3;
}
.interview-main-category {
  background-color: #407ce8;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.interview-main-title {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}
.interview-small-title {
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  margin: 0;
  max-height: 55px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.interview-main-more-text {
  color: #fff;
  padding-top: 10px;
  font-weight: 700;
  border-top: 1px solid hsla(0, 0%, 100%, 0.15);
  font-size: 10px;
}

.interview-news:nth-child(1) {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/np/2023/10/30/5204582/gutal-2-114624-5309337451.jpeg);
  background-size: cover;
}
.interview-news:nth-child(2) {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/600/images/c/2023/10/312220-26102023-1698303692-1060392942-ariunsaikhan_OT1.jpg);
  background-size: cover;
}
.interview-news:nth-child(3) {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/600/images/c/2023/10/311560-13102023-1697170235-1782031612-111.jpg);
  background-size: cover;
}
.interview-news:nth-child(4) {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/600/images/c/2023/10/311741-12102023-1697099714-1577351067-1.jpg);
  background-size: cover;
}
.interview-news:nth-child(5) {
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/600/images/c/2023/09/311161-26092023-1695722699-1744578070-gutal.jpg);
  background-size: cover;
}
.interview-news {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), transparent);
  justify-content: end;
  border-radius: 8px;
}
.margin-top-20 {
  margin-top: 20px;
}
@media only screen and (max-width: 959px) and (min-width: 640px) {
  .interview-box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    min-height: 910px;
  }
  .interview-container {
    max-height: 960px;
  }
  .interview-box a:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/4;
  }
  .interview-box a:nth-child(2) {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  .interview-box a:nth-child(3) {
    grid-column: 2/3;
    grid-row: 4/6;
  }
  .interview-box a:nth-child(4) {
    grid-column: 1/2;
    grid-row: 6/8;
  }
  .interview-box a:nth-child(5) {
    grid-column: 2/3;
    grid-row: 6/8;
  }
}
@media only screen and (max-width: 639px) {
  .interview-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 120px);
  }
  .interview-box a:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .interview-box a:nth-child(2) {
    grid-column: 1/2;
    grid-row: 4/6;
  }
  .interview-box a:nth-child(3) {
    grid-column: 1/2;
    grid-row: 6/8;
  }
  .interview-box a:nth-child(4) {
    grid-column: 1/2;
    grid-row: 8/10;
  }
  .interview-box a:nth-child(5) {
    grid-column: 1/2;
    grid-row: 10/12;
  }
}

.technology-container {
  max-width: 1100px;
}
.technology-box {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
  max-height: 300px;
}
.technology-box img {
  width: 100%;
  height: 55%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.technology-news {
  border-radius: 8px;
  border: lightgrey 1px solid;
}
.technology-box p {
  font-size: 16px !important;
  line-height: 24px !important;
  max-height: 72px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.padding-10 {
  padding: 10px;
}
@media only screen and (max-width: 959px) and (min-width: 640px) {
  .technology-box a:nth-child(4) {
    display: none;
  }
  .technology {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 639px) {
  .technology-box a:nth-child(3) {
    display: none;
  }
  .technology-box a:nth-child(4) {
    display: none;
  }
}
.comic-container {
  max-width: 1100px;
}
.comic-box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 1rem;
  max-height: 330px;
}
.comic-box img {
  width: 100%;
  height: 55%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.comic-news {
  border-radius: 8px;
  border: lightgrey 1px solid;
}
.comic-box p {
  font-size: 16px !important;
  line-height: 24px !important;
  max-height: 72px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comic-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 35%;
}
.see-result {
  border-top: 1px solid rgba(0, 0, 0, 0.03);
  display: flex;
}
@media only screen and (max-width: 639px) {
  .comic-box a:nth-child(2) {
    display: none;
  }
}

.margin-top-80 {
  margin-top: 80px;
}
.video-title {
  display: flex;
  gap: 10px;
}
.video-container {
  display: flex;
  flex-direction: column;
}
.video-box {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
}
.video-text p {
  min-height: 55px;
  font-size: 14px;
  font-weight: 550;
  color: hsla(0, 0%, 100%, 0.8);
  margin-top: 7px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .video-news img{
  width: 100%;
  height: 55%;
  border-radius: 8px;
} */
.live-button {
  position: absolute;
  width: 45px;
  display: none;
}
.padding-30 {
  padding: 30px;
}
.video-container {
  max-width: 1100px;
}
@media only screen and (max-width: 959px) and (min-width: 640px) {
  .video-box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}
@media only screen and (max-width: 639px) {
  .video-box {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(8, auto);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}
.footer-container {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  justify-content: space-between;
}
.footer-logo {
  height: 20px;
}
.footer-list {
  display: flex;

  width: 100%;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid hsla(0, 0%, 100%, 0.15);
}
.gap-10 {
  gap: 10px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-40 {
  padding: 0 40px;
}
@media only screen and (max-width: 639px) {
  .footer-list {
    flex-direction: column;
    align-items: center;
  }
}
